.chart{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    flex: 8;
    border-radius: 10px;
    color: gray;

    .title{
        margin-top:10px;
        margin-left: 10px;
        font-weight: bold;
    }

    .chartGrid{
        stroke: lightgray;
    }
}