.featured{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    flex: 3.5;
    padding: 10px;
    border-radius: 10px;


    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color:gray;
        
        .title{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .bottom{
        flex-direction: column;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:5px;

        .featuredChart{
            height: 100px;
            width: 100px;
        }
    }
}